<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/web3</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="show_sql">true</property>
        <!--property name="hbm2ddl.auto">create</property!-->
        <mapping class="annuaire.persistance.Abonne"/>
        <mapping class="annuaire.persistance.Annuaire"/>
        <mapping class="annuaire.persistance.Entreprise"/>
        <mapping class="annuaire.persistance.Message"/>
        <mapping class="annuaire.persistance.Particulier"/>
    </session-factory>
</hibernate-configuration>